.user-signing-container {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

.user-selection {
	display: flex;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.tab-padding {
	padding: 10px;
}

mat-card {
	min-height: 450px;
}
