<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
	<div>
		<mat-form-field>
			<mat-label>Enter your Username</mat-label>
			<input matInput type="text" formControlName="username" />
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<mat-label>Enter your Password</mat-label>
			<input matInput type="password" formControlName="password" />
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<mat-label>Authorities</mat-label>
			<mat-select formControlName="authorities" multiple>
				<mat-option [value]="adminAuthority">ADMIN</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<button matFab extended type="submit" [disabled]="!signUpForm.valid">
			<mat-icon>account_circle</mat-icon>Sign Up
		</button>
	</div>
</form>
