<div class="user-signing-container">
	<mat-card appearance="outlined">
		<mat-card-content>
			@if (loggedInUser === null) {
				<mat-tab-group>
					<mat-tab label="Sign In">
						<div class="tab-padding">
							<app-signin />
						</div>
					</mat-tab>
					<mat-tab label="Sign Up">
						<div class="tab-padding">
							<app-signup />
						</div>
					</mat-tab>
				</mat-tab-group>
			} @else {
				<mat-card>
					<mat-card-content>
						<mat-tab-group>
							<mat-tab label="User Settings">
								<div class="tab-padding">
									<app-user-settings [user]="selectedUser" />
								</div>
							</mat-tab>
							<mat-tab label="Todo Grid">
								<div class="tab-padding">
									<app-todo-grid [user]="selectedUser" />
								</div>
							</mat-tab>
							<mat-tab label="Create User">
								<div class="tab-padding">
									<app-signup />
								</div>
							</mat-tab>
						</mat-tab-group>
					</mat-card-content>
				</mat-card>
				<br />
				<div class="user-selection">
					<mat-form-field subscriptSizing="dynamic">
						<mat-select [(value)]="selectedUser">
							@for (user of users; track user) {
								<mat-option [value]="user">
									{{ user.username }}
								</mat-option>
							}
						</mat-select>
					</mat-form-field>
					<button type="button" matFab (click)="onClickRefresh()">
						<mat-icon>refresh</mat-icon>
					</button>
					<button type="button" matFab (click)="onClickDelete()">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			}
		</mat-card-content>
	</mat-card>
</div>
