div.width-wrapper {
	height: 100%;
	width: 100%;
}

div.chat-box {
	display: flex;
	flex-direction: column;
	height: inherit;
	background-color: var(--mat-sys-surface);
}

div.messages {
	flex-grow: 1;
	overflow: auto;
}

div.message {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding: 10px;
}

div.message.user {
	justify-content: right;
}

div.message.user > mat-card.message-card {
	background-color: var(--mat-sys-surface-container-high);
}

mat-card.message-card {
	max-width: 80%;
}

mat-form-field {
	width: 100%;
}

button.action-button {
	margin: 5px;
}
