<div class="width-wrapper">
	<div class="chat-box">
		<div #scrollable class="messages">
			@for (message of sessionData; track message) {
				<div class="message" [class.user]="message.role === 'user'">
					<mat-card class="message-card" appearance="outlined">
						<mat-card-header>
							<mat-card-title>{{ message.role | titlecase }}</mat-card-title>
						</mat-card-header>
						<mat-card-content>
							@if (message.role === 'tool') {
								<pre
									>{{ `${message.role} ${message.tool_name}` | titlecase }} {{
										`returned the below output\n**${message.content}**`
									}}</pre
								>
							} @else {
								<pre>{{ message.content }}</pre>
							}
						</mat-card-content>
					</mat-card>
				</div>
			}
		</div>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>Select Model</mat-label>
			<mat-select [disabled]="chatInputDisabled" [(ngModel)]="selectedAiAgentModel">
				@for (model of availableAiAgentModels; track model) {
					<mat-option [value]="model">{{ model }}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<mat-form-field subscriptSizing="dynamic">
			<mat-label>Prompt</mat-label>
			<textarea
				matInput
				required
				cdkTextareaAutosize
				[cdkAutosizeMaxRows]="currentMaxTextAreaSize"
				[disabled]="chatInputDisabled"
				[(ngModel)]="message"></textarea>
			<button matMiniFab matSuffix class="action-button" type="button" (click)="toggleMode()">
				@if (darkMode) {
					<mat-icon>dark_mode</mat-icon>
				} @else {
					<mat-icon>light_mode</mat-icon>
				}
			</button>
			<button
				matMiniFab
				matSuffix
				type="button"
				class="action-button"
				[disabled]="chatInputDisabled"
				(click)="onClear()">
				<mat-icon>delete</mat-icon>
			</button>
			<button matMiniFab matSuffix class="action-button" type="button" (click)="onScroll()">
				<mat-icon>arrow_circle_down</mat-icon>
			</button>
			<button
				matMiniFab
				matSuffix
				type="button"
				class="action-button"
				[disabled]="chatInputDisabled"
				(click)="onSend()">
				<mat-icon>send</mat-icon>
			</button>
		</mat-form-field>
	</div>
</div>
