<div class="user-signing-container">
	<mat-card class="example-card" appearance="outlined">
		<mat-card-content>
			@if (user === null) {
				<mat-tab-group>
					<mat-tab label="Sign In">
						<div class="tab-padding">
							<app-signin />
						</div>
					</mat-tab>
					<mat-tab label="Sign Up">
						<div class="tab-padding">
							<app-signup />
						</div>
					</mat-tab>
				</mat-tab-group>
			} @else {
				<mat-tab-group>
					<mat-tab label="User Settings">
						<div class="tab-padding">
							<app-user-settings [user]="user" />
						</div>
					</mat-tab>
					<mat-tab label="Todo Grid">
						<div class="tab-padding">
							<app-todo-grid [user]="user" />
						</div>
					</mat-tab>
				</mat-tab-group>
			}
		</mat-card-content>
	</mat-card>
</div>
