<mat-toolbar class="flex-spacer">
	<span>Angular Todo UI</span>
	<span>
		<button type="button" class="button-margin" matMiniFab (click)="toggleMode()">
			@if (darkMode) {
				<mat-icon>dark_mode</mat-icon>
			} @else {
				<mat-icon>light_mode</mat-icon>
			}
		</button>
		@if (user !== null) {
			<button type="button" class="button-margin" matMiniFab>
				<mat-icon>account_circle</mat-icon>
			</button>
			<button
				type="button"
				class="button-margin"
				matMiniFab
				(click)="globalApi.signOut().subscribe()">
				<mat-icon>logout</mat-icon>
			</button>
		}
	</span>
</mat-toolbar>
