<h3>Update user details</h3>
<form [formGroup]="updateUserForm" (ngSubmit)="onUserFormSubmit()">
	<div>
		<mat-form-field>
			<mat-label>Enter your Username</mat-label>
			<input matInput type="text" formControlName="username" />
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<mat-label>Authorities</mat-label>
			<mat-select formControlName="authorities" multiple>
				<mat-option [value]="adminAuthority">ADMIN</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<button matFab extended type="submit" [disabled]="!updateUserForm.valid">
			<mat-icon>update</mat-icon>Update
		</button>
	</div>
	@if (userUpdateFailed) {
		<p><mat-error>Username already exists</mat-error></p>
	}
</form>
<h3>Update user password</h3>
<form [formGroup]="updatePasswordForm" (ngSubmit)="onPasswordFormSubmit()">
	<div>
		<mat-form-field>
			<mat-label>Old Password</mat-label>
			<input matInput type="password" formControlName="oldPassword" />
		</mat-form-field>
	</div>
	<div>
		<mat-form-field>
			<mat-label>New Password</mat-label>
			<input matInput type="password" formControlName="newPassword" />
		</mat-form-field>
	</div>
	<div>
		<button matFab extended type="submit" [disabled]="!updatePasswordForm.valid">
			<mat-icon>update</mat-icon>Update
		</button>
	</div>
	@if (userPasswordFailed) {
		<p><mat-error>New and old password are not same</mat-error></p>
	}
</form>
